# Python
__pycache__/
*.pyc
venv/
*.pyo
*.pyd
.Python

# VS Code
.vscode/
*.code-workspace

# Project specific
data/
config/
*.bin
*.key

# OS
.DS_Store
Thumbs.dboutput_*.txt
output_*.txt
build/
dist/
interactive_output/
output_*.txt
output_*.html
*.gif
__pycache__/
*.pyc
